---
const { cardLayout, painting, paintingAlt, title, date, description } =
	Astro.props;
---

<article class={cardLayout}>
	<img src={painting} alt={paintingAlt} />
	<div class="content">
		<div>
			<h3>{title}</h3>
			<h4>{date}</h4>
		</div>
		<div>
			<p>{description}</p>
		</div>
	</div>
</article>

<style lang="scss">
	@use "@styles/variables" as media;

	article {
		margin-block: 15rem;
		margin-inline: 2vw;
		img {
			width: 100%;
			height: 80vh;
			border: 0.3rem solid transparent;
			padding: 0.5rem;
			border-image: linear-gradient(to top, var(--color-accent), #00000000) 1;
		}
		.content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			overflow-wrap: break-word;
			h3 {
				font-family: var(--font-quote);
				font-size: 1.8rem;
			}
			h4 {
				font-family: var(--font-quote);
				font-size: 1.2rem;
			}
			div p {
				padding-top: 0.5rem;
				border-top: 0.3rem solid var(--color-complementary);
			}
		}
	}

	@media only screen and (min-width: media.$media-phone) {
		.layout-1 {
			display: grid;
			grid-template-columns: 60vw auto;
			gap: 1.5rem;
		}

		.layout-2 {
			.content {
				padding-top: 1.5rem;
				display: grid;
				grid-template-columns: 60vw auto;
				div p {
					border-top: none;
					padding-left: 0.5rem;
					border-left: 0.3rem solid var(--color-complementary);
				}
			}
			img {
				height: 60vh;
			}
		}

		.layout-3 {
			display: grid;
			grid-template-columns: auto 60vw;
			gap: 1.5rem;
			margin-right: 0;
			img {
				border-right: none;
				padding-right: 0rem;
				border-image: linear-gradient(to right, var(--color-accent), #00000000) 1; /* Apply linear gradient as the border image */
			}
			& :first-child {
				order: 1;
			}
			.content {
				flex-direction: column-reverse;
			}
		}
	}
</style>
